@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');
:root {
    --green-color: #33d1cc;
}

body {
    font-family: 'Roboto', sans-serif;
}
.main-btn {
    background-color: #3a6cf4;
    color: white;
    padding: 0.75rem 1.2rem;
    box-shadow: 2px 2px 4px #2c51b6;
    transition: 0.3s ease-out;
}
.main-btn:hover {
    color: var(--green-color);
    border:#33d1cc 1px solid;
    translate: 0px -2px;
}
/* Start Navbar */  
.navbar {
    box-shadow: 0px 1px 5px black;
}
.navbar-brand h3 {
    font-family: Pacifico;
}
.nav-link {
    color: black;
    font-size: 18px;
}
.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: #1E3266;
}
.navbar .navbar-toggler {
    border: solid 1px #1E3266;
    font-size: 25px;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
/* End Navbar */
/* Start landing */
.landing {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1027%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%231e3266'%3e%3c/rect%3e%3cpath d='M1560 560L0 560 L0 384.89Q34.71 347.6%2c 72 382.3Q156.29 346.59%2c 192 430.87Q243.26 362.13%2c 312 413.4Q329.45 358.85%2c 384 376.3Q468.57 340.87%2c 504 425.44Q548.88 350.32%2c 624 395.21Q692.01 343.22%2c 744 411.23Q787.19 382.42%2c 816 425.61Q859.87 349.48%2c 936 393.34Q962.94 348.28%2c 1008 375.23Q1086.95 334.18%2c 1128 413.13Q1177.94 343.07%2c 1248 393.01Q1300.07 373.07%2c 1320 425.14Q1352.46 337.6%2c 1440 370.05Q1516.69 326.74%2c 1560 403.43z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 419.03Q38.02 385.05%2c 72 423.07Q126.58 405.65%2c 144 460.24Q214.21 410.45%2c 264 480.66Q280.01 424.68%2c 336 440.69Q366.38 399.06%2c 408 429.44Q468.12 417.56%2c 480 477.68Q500.15 425.83%2c 552 445.98Q621.97 395.95%2c 672 465.92Q713.84 387.76%2c 792 429.61Q877.18 394.8%2c 912 479.98Q932.68 428.66%2c 984 449.34Q1053.53 398.87%2c 1104 468.4Q1143.1 387.5%2c 1224 426.59Q1296.4 379%2c 1344 451.4Q1385.44 372.85%2c 1464 414.29z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1536 560L0 560 L0 482.19Q66.1 428.29%2c 120 494.39Q167.13 469.52%2c 192 516.66Q222.13 474.79%2c 264 504.93Q292.43 461.36%2c 336 489.78Q360.78 442.56%2c 408 467.34Q490.48 429.82%2c 528 512.31Q582.14 446.45%2c 648 500.6Q697.34 429.94%2c 768 479.28Q826.89 466.18%2c 840 525.07Q894.23 459.3%2c 960 513.53Q1012.45 445.98%2c 1080 498.43Q1131.24 477.67%2c 1152 528.92Q1167.47 472.39%2c 1224 487.87Q1290.88 434.75%2c 1344 501.63Q1365.61 451.24%2c 1416 472.85Q1481.68 418.53%2c 1536 484.21z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 576.54Q28.1 484.63%2c 120 512.73Q166.19 486.92%2c 192 533.11Q271.5 492.61%2c 312 572.1Q357.88 497.98%2c 432 543.85Q482.34 474.19%2c 552 524.53Q611.72 512.25%2c 624 571.97Q644.1 520.07%2c 696 540.17Q747.9 472.07%2c 816 523.97Q900.06 488.03%2c 936 572.09Q978.77 494.86%2c 1056 537.63Q1127.43 489.07%2c 1176 560.5Q1212.49 476.99%2c 1296 513.48Q1339.51 485%2c 1368 528.51Q1447.96 488.48%2c 1488 568.44z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1027'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    min-height: 559px;
}
.landing .container .row {
    margin-top: 80px;
}
.landing h1 {
    font-size: 50px;
}
/* End Landing */
/* Start Features */
.main-title::after {
    content: "";
    width: 120px;
    height: 2px;
    background-color: #2c51b6;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.card-item {
    border: 2px solid #2c51b6;
    border-radius: 5px;
    width: 300px;
    margin: 5px 20px;
    transition: 0.3s ease-in-out;

}
.card-item:hover {
    box-shadow: 1px 1px 5px #2c51b6;
    /* animation: myAnim 2s ease 0s 1 normal forwards; */
    animation: myAnim 1s ease 0s 1 normal forwards;
}
.icons {
    color: #2c51b6;
}

/* start animation in features */
@keyframes myAnim {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		transform: scale(1);
	}

	100% {
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
		transform: scale(1.1);
	}
}


/* @keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
} */

/* End Features */

/* Start Creating projects */
.creating-project {
    background-color: #031c61;
    min-height: calc(50vh);
}
/* End Creating projects */
/* Start Footer */
footer {
    background-color: #031c61;
    min-height: 200px;
}
footer a {
    color: white;
}
footer a:hover {
    color: rgb(0, 193, 252);
}
/* End Footer */